<%- partial('_partial/intro', {title: page.title, displayIntroText: false}) %>
<%- partial('_partial/navigation', {omitID: false}) %>
<div id="main">
    <article class="page">
        <header class="major">
            <span class="date"><%- page.date.format('lll') %></span>
            <p class="meta">
                <span class="author"><i class="fas fa-user-edit"></i> <%- page.author %></span>
                <span class="categories"><i class="fas fa-tags"></i> <%- list_categories(page.categories, {
                    show_count: false,
                    class: 'article-category',
                    style: 'none',
                    separator: ' <i class="fas fa-arrow-right"></i> '
                }) %></span>
            </p>
        </header>
        <%- page.content %>
    </article>
</div>
